@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 229 90% 97%;
  --foreground: 20 14.3% 4.1%;
  --card: 229 100% 97%;
  --card-foreground: 20 14.3% 4.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --primary: 229 95% 65%;
  --primary-foreground: 60 9.1% 97.8%;
  --secondary: 229 30% 90%;
  --secondary-foreground: 24 9.8% 10%;
  --muted: 229 25% 85%;
  --muted-foreground: 25 5.3% 44.7%;
  --accent: 229 95% 95%;
  --accent-foreground: 24 9.8% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 229 5.9% 90%;
  --input: 229 94% 94%;
  --ring: 229 95% 90%;
  --radius: 0.5rem;
}

.dark {
  --background: 0 0% 13.33%;
  --foreground: 60 9.1% 97.8%;
  --card: 0 0% 21.1%;
  --card-foreground: 60 9.1% 97.8%;
  --popover: 20 14.3% 4.1%;
  --popover-foreground: 60 9.1% 97.8%;
  --primary: 229 95% 70%;
  --primary-foreground: 60 9.1% 97.8%;
  --secondary: 12 6.5% 15.1%;
  --secondary-foreground: 60 9.1% 97.8%;
  --muted: 229 6.5% 35%;
  --muted-foreground: 24 5.4% 63.9%;
  --accent: 229 15% 25%;
  --accent-foreground: 60 9.1% 97.8%;
  --destructive: 0 72.2% 50.6%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 229 6.5% 15.1%;
  --input: 229 6.5% 15.1%;
  --input: 229 15% 20%;
  --ring: 229 95% 80%;
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}